__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

data/*
logs/*
reports/*

!data/.gitkeep
!data/specs/
!data/specs/*.json

!data/prices/
!data/prices/*.json

!logs/.gitkeep
!reports/.gitkeep

dist/
build/
*.spec

.DS_Store
Thumbs.db

.vscode/
.idea/
.claude/